:root {
  --dark: #282c34;
  --red: #ec4a4a;
  --lightred: #ec4a68;
}

body {
  background: rgb(63, 63, 79);
  background: radial-gradient(
    circle,
    rgba(63, 63, 79, 1) 9%,
    rgba(36, 33, 35, 1) 68%
  );
  color: var(--lightred);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* NAVIGATION ITEMS */
.nav-link,
.sidebar-menu {
  color: whitesmoke !important;
}

.nav-icon:hover,
.sidebar-menu:hover {
  color: #ec4a4a !important;
}
.nav-link:active,
.nav-icon:active,
.sidebar-menu:active {
  color: #e87f00 !important;
}
.nav-link,
.pushable {
  border: none !important;
}
.sidebar {
  border-left: 1px solid#ec4a4a !important;
}

/* Home Content */
/* .ui {
  background-color: transparent !important;
} */
