/* Home Content */

.header {
  color: whitesmoke !important;
}

.section-content,
.home-feed {
  background-color: transparent !important;
  border: 1px solid whitesmoke !important;
}
.labeled.button {
  margin: 1em !important;
}
